node_modules/
modules/tfloader/*

imgs/img_imagified.jpg
imgs/img_received.jpg
utils/__pycache__/*

# artifacts from do-everything-in-js times...
# remove files/dirs from index only (keep local):
# git rm --cached mylogfile.log
# git rm --cached -r mydir
modules/*
scripts/*
styles/*
index.html
package.json
package-lock.json
web_model/*