body {
    padding-top: 50px;
}

.box {
    padding: 50px;
    margin-top: min(50px, 10%);
    margin-bottom: min(50px, 10%);
    background-color: rgb(240,240,240);
    border-radius: 10px;
}

canvas {
    margin-top: 10px;
    background-color: white;
}

#lsys, #pix2pix {
    display: flex;
    flex-direction: column;
}

.controls-bottom-lsys {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.controls-bottom-pix2pix {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}